<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDSC GenAI Study Jams</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script>
        // function for searching 
        function filterParticipants() {
            let query = document.getElementById('search-input').value.toLowerCase();
            let rows = document.querySelectorAll('tbody tr');

            rows.forEach(row => {
                let name = row.querySelector('td:first-child').textContent.toLowerCase();
                if (name.includes(query) || query === '') {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }


        document.addEventListener('DOMContentLoaded', () => {
            filterParticipants();
        });
    </script>
</head>

<body>
    <div class="container">
        <header>
            <h1>Google Developer Student Club - SRCASW</h1>
            <h2>SRCASW - GenAI Study Jams 2024</h2>
        </header>
        <!-- work in progress -->
        <!-- <div class="stats"></div>
        <div class="stat-boxes">
            <div class="stat-box">
                <p>No of Eligible<br>Participants for Certificates</p>
                <h3 id="eligibleCount">{{ eligible_count }}</h3>
            </div>
            <div class="stat-box">
                <p>Total No of<br>Participants {{ total_count }}</p>
                <h3 id="totalCount">{{ total_count }}</h3>
            </div>
        </div> -->

        <!-- Search bar -->
        <input type="text" id="search-input" oninput="filterParticipants()" placeholder="Search by name...">

        <!-- participants table -->
        <div class="table-responsive">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Redemption Status</th>
                        <th>Cloud Skill Boost Profile</th>
                        <th>Completion of Chapter and Arcade</th>
                        <th>No. of Chapter Completed</th>
                        <th>No. of Arcade Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- loop to dynamically generate rows -->
                    {% for participant in participants %}
                    <tr>
                        <td data-label="Name">{{ participant.name }}</td>
                        <td data-label="Redemption Status"><span
                                class="status {{ participant.redemption_status|lower }}">{{
                                participant.redemption_status }}</span></td>
                        <td data-label="Cloud Skill Boost Profile"><a href="{{ participant.profile_url }}"
                                target="_blank" class="public-profile">Public Profile</a></td>
                        <td data-label="GenAI Study Jam Completion"><span
                                class="status {{ participant.completion|lower }}">{{ participant.completion }}</span>
                        </td>
                        <td data-label="No. of Skill Badges Completed">{{ participant.num_skill_badges }}</td>
                        <td data-label="No. of Arcades Completed">{{ participant.num_arcade_games }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>
